# 3. Control Flow

## 1. Comparison Operators

In [ ]:
10 > 3 # Here we get boolean value
10 >= 3
10 < 20
10 <= 20
10 == 10

In [ ]:
10 == "10"

In [ ]:
10 != '10'

In [ ]:
'bag' > 'apple'

In [33]:
'pool' > '' # False beacuse every character has a numeric representation. lets see next step

True

In [28]:
ord('s')

115

In [25]:
ord('t') #converts a character into its Unicode code value.
         #This method accepts a single character.

116

In [ ]:
ord('B')

In [ ]:
'bag' > 'BAG'

In [ ]:
'bag' < 'BAG'

## 2. Conditional Statement

In [ ]:
temperature = int(input(' please add the value of temp: '))
if temperature > 30:
    print("it's very hot day")
    print("it is warm")
    print("drink water")
print("done")
print("it's ohk")

In [ ]:
temperature = int(input(' please add the value of temp: '))
if temperature > 30:
    print("it is warm")
    print("drink water")
elif temperature > 20:
    print("it is nice day")
elif temperature == 5:
    print('its very cold day')
print("done")

In [ ]:
temperature = 18
if temperature > 30:
    print("it is warm")
    print("drink water")
elif temperature > 20:
    print("it is nice day")
else:
    print("its ohk")
print("done")

## 3. Ternary Operator

In [ ]:
temperature = 18
if temperature > 20:
    print('its a nyc day')
else:
    print("its a cold day")

In [ ]:
temperature = 18
message = "it is a nice day" if temperature >= 20 else "its a cold day"
print(message)

In [ ]:
age = 13
message = "yes am eligible for vote" if age >= 18 else "am not eligible for vote"
print(message)

In [ ]:
age = 22
if age >= 18:
    print("person is  eligible for voting")
else:
    print("Person is not eligible for voting")

In [ ]:
age = 16
condition = "person is eligible for voting" if age >= 18 else "person is not eligible for voting"
print(condition)

## 4. Logical Operators

In [ ]:
high_income = True
good_credit = True

if high_income and good_credit:
    print("eligible for loan")
else:
    print("not eligible for loan")

In [ ]:
high_income = False
good_credit = False

if high_income or good_credit:
    print("eligible for loan")
else:
    print("not eligible for loan")

In [ ]:
high_income = True
good_credit = False
student = True

if not good_credit:
    print("eligible for loan")
elif student:
    print("not eligible for loan")
elif high_income:
    print('its ohk')
    
print("its is not ohk")

In [ ]:
high_income = True
good_credit = False
student = True

if (high_income or good_credit) and not student:
    print("eligible for loan")
else:
    print("not eligible for loan")

## 5. Short-circuit Evaluation

In [ ]:
high_income = True
good_credit = False
student = True

if good_credit or not high_income or  student:
    print("eligible for loan")
#Here if any one of the statement is true then the python interpreter stop excute the whole code.

In [ ]:
high_income = True
good_credit = False
student = True

if high_income and not good_credit and  student:
    print("eligible for loan")
#Here if any one of the statement is false then the python interpreter will stop the excute the whole program.

## 6. Chaining Comparion Operators

In [ ]:
#Age should be in between 18 and 65
age = int(input(" enter a number : "))
if age >= 18 and age < 65:
    print("eligible")

In [ ]:
#Age should be in between 18 and 65
age = 12
if 18 <= age < 65: # This is called chaining comparison 
    print("eligible")

## 7. Quiz

In [34]:
if 10 == '10':
    print('a')
elif 'bag' > 'apple' and 'bag' > 'cat':
    print('b')
else:
    print('c')

c

## 8. For Loops

In [36]:
for number in range(4):
    print('attempt', number)

attempt 0
attempt 1
attempt 2
attempt 3

In [ ]:
type(number)

In [37]:
for number in range(3):
    print('attempt', number + 1)

attempt 1
attempt 2
attempt 3

In [38]:
for number in range(3):
    print('attempt', number + 1,(number + 1) * '.')

attempt 1 .
attempt 2 ..
attempt 3 ...

In [39]:
for number in range(1, 4):
    print('attempt',number ,number * '.')

attempt 1 .
attempt 2 ..
attempt 3 ...

In [85]:
import math
math.pow(3,4)

81.0

In [107]:
for num in range(2,10,2):
    print(num)
    num = num**num
    print(num)

2
4
4
256
6
46656
8
16777216

## 9. For Else

In [52]:
successful = True
for number in range(4):
    print('attempt')
    if successful:
        print('Successful')
        break

attempt
Successful

In [47]:
successful = False
for number in range(3):
    print('attempt')
    if successful:
        print('Successful')
        break
else:
    print('attempted 3 times and failed')

attempt
attempt
attempt
attempted 3 times and failed

In [57]:
successful = True
for number in range(3):
    print('attempt')
    if successful:
        print('Successful')
        break

        
print('attempted 3 times and failed')

attempt
Successful
attempted 3 times and failed

## 10. Nested Loops

In [59]:
for x in range(3):
    for y in range(3):
        print(f"({x}, {y})")

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)

## 11. Iterables

In [60]:
for x in 'python':
    print(x)

p
y
t
h
o
n

In [61]:
for x in [1,2,3,4,5,6,7]:
    print(x)

1
2
3
4
5
6
7

In [62]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

## 12. While Loops

In [65]:
number = 100
while number > 0:
    print(number)
    number //= 2

100
50
25
12
6
3
1

In [70]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [71]:
i = 0 
while i < 7:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7

In [72]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6